.card {
    height: 20rem;
    box-shadow: 1px 1px 5px black;

    .card-top {

        background-color: rgba(253, 250, 250, 0.5)!important;
    
        h3 {
            font-size: 2rem!important;
            padding: 1rem;
        }
    }

    .card-body {

        #primed-logo {
            height: 10rem;
        }

        img {
            height: 5rem;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            position: absolute;
        }
    }
    
    .card-footer {
    
        width: 100%!important;
    
            a{
                font-size: 1rem!important;
            }
    }


}


// X-large screen

@media (min-width: 2000px) {



    .card {

        .card-top {

            h3 {
                font-size: 2.2rem!important;
            }
        }

        .card-body {

            #primed-logo {
                height: 12rem;
            }

            #minty-icon {
                height: 7rem;
            }
    
            img {
                height: 10rem;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                position: absolute;
            }
        }

        .card-footer {
                a {
                    font-size: 1.2rem!important;
                
                    button {
                        width: 10rem;
                    }

                }
        }
    }
}

// large screen

@media (max-width: 1300px) {

    .card-footer {


        button {
            padding: 0.5rem;
        }
    }   
}


// medium screen

@media (min-width: 750px) {
    .card {
        height: 22rem;


        .card-body {

            #primed-logo {
                height: 9.5rem;
            }
    
            img {
                height: 4.5rem;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                position: absolute;
            }
        }


    }
}


// X-small screen
@media (max-width: 350px) {
    .card {


        .card-footer { 
            button {
                font-size: 0.75rem;
            }
        }

    }
}