body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif !important;
}

html {
  background-color: black;
}

header nav {
  background-color: black !important;
}

h2 {
  font-size: 2.5rem;
  text-transform: capitalize !important;
}
