body {
  scroll-behavior: smooth;
}

#footer {
  margin-bottom: 0px;
}

.tab-content .tab-pane {
  display: none;
}

.tab-content .active {
  display: block;
}

html {
  background-color: black;
}

header nav {
  background-color: black !important;
}

footer {
  background-color: black;
}

.introductionContent {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)),
    url("./back.jpg") fixed no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}

.introduction-title {
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
  position: absolute;
}

h2 {
  font-size: 2.5rem;
}
